@import "../Themes/Themes.scss";

.collage-header {
    text-align: center;
}

.archivePageContent {
    @include checkMobile(margin, "-1rem auto 1rem auto", "0 2rem 2rem 2rem");
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
}

.archive-selection.MuiMenuItem-root {
    font-size: 1.5rem;
    &:hover {
        background-color: rgba(55, 71, 82, 0.513) !important;
        border-radius: 0.5rem;
    }
}

.archive-selection.Mui-selected.MuiListItem-root.Mui-selected {
    color: $dark-color;
    background-image: linear-gradient(to bottom right, $school-gold, #5f5f5f);
    border-radius: 0.5rem;
}

.menu-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-self: center;
    margin: 5rem;
    border-radius: 0.5rem !important;
    padding: 1rem;
    animation: slideInLeft 1s;
}

.menu-container-popout {
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 15%;
    top: 12%;
    z-index: 2;
    border-radius: 0.5rem !important;
    padding: 1rem;
    box-shadow: 0px 0px 10px 5px black !important;
}

.collage-container {
    @include checkMobile(
        (padding, width, animation-name),
        (1rem, 85%, fadeIn),
        ("1rem 3rem", 70%, slideInRight)
    );
    height: 85vh;
    overflow: hidden;
    animation-duration: 1s;
}

.close-backdrop-icon {
    position: fixed !important;
    top: 1rem;
    left: 1rem;
    background-color: $school-green !important;
}

.gridList {
    @include checkMobile(height, 80vh, 100%);
    width: 100%;
    transform: translateZ(0);
    scroll-behavior: smooth;
    cursor: pointer;
}

.lightBox-text.MuiTypography-root {
    color: $dark-color;
    background-color: $school-gold;
    margin: -0.5rem auto auto auto;
    width: 50%;
    border-radius: 0.25rem;
}