@import "../Themes.scss";

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.collage-header {
    text-align: center;
}

.collage-scroll-icon.MuiIconButton-root {
    background-color: $school-green;
    color: $main-white;
    display: block;
    margin: auto;
    &:hover {
        background-color: $school-green;
        box-shadow: 0px 0px 10px $main-white;
    }
}

.archivePageContent {
    margin: 5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.archive-selection {
    &:hover {
        background-color: rgba(4, 106, 57, 0.404) !important;
        border-radius: 0.5rem;
    }
}

.archive-selection.Mui-selected.MuiListItem-root.Mui-selected {
    color: $dark-blue;
    background-color: $school-gold !important;
    border-radius: 0.5rem;
}

.menu-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-self: center;
    margin: 5rem;
    border-radius: 0.5rem !important;
    padding: 1rem;
    box-shadow: 0px 0px 10px black !important;
    animation-name: slideInLeft;
    animation-duration: 1s;
}

.collage-container {
    padding: 1rem 3rem;
    height: 85vh;
    width: 70%;
    overflow: hidden;
    animation-name: slideInRight;
    animation-duration: 1s;
}

.close-backdrop-icon {
    position: fixed !important;
    top: 1rem;
    left: 1rem;
    background-color: $school-green !important;
}