@import "../Themes.scss";

.competition-content {
    margin: 2rem auto;
    @include checkMobile(
        (width, padding),
        (85%, 1rem),
        (70%, 2rem)
    );
    animation-name: slideInUp;
    animation-duration: 1s;
}

.countdown {
    @extend .competition-content;
    animation-name: slideInDown;
    animation-duration: 1s;
}