@keyframes fallIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes crawlIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.competition-content {
    margin: 2rem auto;
    @media screen and (min-width: 1000px) {
        width: 70%;
        padding: 2rem;
    }
    @media screen and (max-width: 800px) {
        width: 90%;
        padding: 1rem;
    }
    animation-name: crawlIn;
    animation-duration: 1s;
}

.countdown {
    @extend .competition-content;
    animation-name: fallIn;
    animation-duration: 1s;
}