@import "../Themes.scss";

@keyframes fallIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes crawlIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.competition-content {
    margin: 2rem auto;
    @include checkMobile((width, padding), (90%, 1rem), (70%, 2rem));
    animation-name: crawlIn;
    animation-duration: 1s;
}

.countdown {
    @extend .competition-content;
    animation-name: fallIn;
    animation-duration: 1s;
}