@import "../Themes.scss";

.competition-content {
    margin: 2rem auto;
    @include checkMobile(
        (width, padding),
        (85%, 1rem),
        (70%, 2rem)
    );
    animation: slideInUp 1s;
}

.countdown {
    @extend .competition-content;
    animation: slideInDown 1s;
}