.desc {
    max-width: 20rem;
    height: 100%;
    padding-bottom: 1rem;
}

.secTitle {
    padding-top: 20px;
    padding-bottom: 20px;
}
.leftAlign {
    text-align: left;
    padding-left: 20px;
}

.container {
    position: relative;
    width: 50%;

    &:hover {
        .overlay {
            width: 14rem;
        }
    }
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .9;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.middleText {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #B3A369;
    user-select: none;
}

//Color Tags 
.cBlack {
    color: #212b31;
}

//Hover Color
.backgroundBlack {
    background-color: #212b31;
}

