@import "../Themes.scss";

@keyframes growIn {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

.levelTitle {
    padding: 1rem 0;
}

.leftAlign {
    text-align: left;
    padding-left: 20px;
}

.container {
    position: relative;
    width: 50%;

    &:hover {
        .overlay {
            width: 14rem;
        }
    }
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .9;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.middleText {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: $school-gold;
    user-select: none;
}

.backgroundBlack {
    background-color: $dark-color;
}

.levelSection {
    margin: 3rem auto;
    align-items: center;
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    @media screen and (min-width: 1000px) {
        flex-direction: row;
    }
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

.sponsorCards {
    display: flex;
    width: 0%;
    justify-content: space-evenly;
    padding: 1rem;
    box-shadow: inset 0px 0px 9px 2px black;
    border-radius: 0px 1rem 1rem 0px;
    animation-name: growIn;
    animation-duration: 1s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
    overflow: hidden;
    @media screen and (min-width: 1000px) {
        flex-direction: row;
    }
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}
