@import "../Themes.scss";

@keyframes fadeIn {
    0% {
      opacity: 0;
    }  
    100% {
      opacity: 1;
    }
}

.card-group {
    margin: 2rem auto;
    padding: 1rem;
    @media screen and (min-width: 1000px) {
        width: 95%;
    }
    @media screen and (max-width: 800px) {
        width: 90%;
    }
}

.card-container {
    margin: 0 auto;
    @media screen and (min-width: 1000px) {
        display: flex;
        justify-content: space-evenly;
    }
    @media screen and (max-width: 800px) {
        width: max-content;
    }
}

.slideshow-container {
    margin: 5rem auto 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    overflow: hidden;
    padding: 1rem;
}

.slideshow-content-container {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    @media screen and (min-width: 1000px) {
        flex-direction: row;
    }
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

.slideshow-lower-container {
    height: 100%;
    display: flex;
}

.slideshow-arrow, .slideshow-arrow {
    align-self: center;
    width: max-content;
    height: max-content;
}