@import "../Themes.scss";

@keyframes fadeIn {
    0% {
      opacity: 0;
    }  
    100% {
      opacity: 1;
    }
}

.about-website-container {
    margin: 2rem auto;
    padding: 1rem;
    @include checkMobile(width, 90%, 60%);
}

.card-group {
    margin: 2rem auto;
    padding: 1rem;
    @include checkMobile(width, 90%, 95%);
}

.card-container {
    margin: 0 auto;
    @include checkMobile(
        (display, justify-content, width), 
        ("", "", 90%), 
        (flex, space-evenly, "")
    );
}

.slideshow-container {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    overflow: hidden;
    padding: 1rem;
}

.slideshow-content-container {
    display: flex;
    height: 100%;
    justify-content: center;
    @include checkMobile(flex-direction, column, row);
}

.slideshow-lower-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.slideshow-arrow.MuiIconButton-root {
    align-self: center;
    width: max-content;
    height: max-content;
    color: $main-white;
}