@import "../Themes.scss";

@keyframes fadeIn {
    0% {
      opacity: 0;
    }

    20% {
        opacity: 0.10;
    }

    20% {
        opacity: 0.20;
    }

    30% {
        opacity: 0.30;
    }

    40% {
        opacity: 0.40;
    }
  
    50% {
      opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }
  
    100% {
      opacity: 1;
    }
}

.card-group {


    @media screen and (min-width: 1000px) {
        width: 95%;
    }
    @media screen and (max-width: 800px) {
        width: 90%;
    }

    margin: 2rem auto;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-areas: 
    '. . . .'
    '. t t .'
    'w w w w'
    '. d d .'
    'c c c c'
    '. . . .';
}

.card-container {
    margin: 0 auto;
    grid-area: c;
    @media screen and (min-width: 1000px) {
        display: flex;
        width: max-content;
    }
    @media screen and (max-width: 500px) {
        width: 90%;
    }
}

.who-we-are-container {
    @extend .card-container;
    width: 90%;
    padding-top: 5rem;
    display: block;
}

.slideshow-container {
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-areas:
        '. . . .'
        'title title title title'
        '. divider divider .'
        'leftArrow text content rightArrow'
        '. . . .';
}

.slideshow-mobile-container {
    @extend .slideshow-container;
    grid-template-areas:
        '. . . .'
        'title title title title'
        '. divider divider .'
        'leftArrow text text rightArrow'
        'leftArrow content content rightArrow'
        '. . . .';
}

.slideshow-leftArrow {
    align-self: center;
    grid-row-start: title;
    grid-row-end: leftArrow;
    grid-column-start: leftArrow;
    grid-column-end: leftArrow;
}

.slideshow-rightArrow {
    align-self: center;
    grid-row-start: title;
    grid-row-end: rightArrow;
    grid-column-start: rightArrow;
    grid-column-end: rightArrow;
}