@import "../Themes.scss";

.NavBarSelection.MuiTab-textColorInherit {
    font-size: 1.5rem;
    font-family: Inconsolata;
    font-weight: bolder;
}

.NavBarSelection.Mui-selected {
    color: $school-gold;
}

.content {
    @include checkMobile(margin-top, 20%, 5%);
}

.icon {
    vertical-align: middle;
}

.footer {
    @include checkMobile((flex-direction, height, padding), (column, fit-content, 2rem), (row, 30vh, ""));
    display: flex;
    background-color: $dark-color;
    align-items: center;
    justify-content: center;
    color: $school-gold;
    box-shadow: 0px 0px 10px black;
    text-align: center;
    overflow: hidden;
}

.footer-section {
    @include checkMobile(width, "", 20%);
}