.img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    cursor: pointer;
}

.containers {
    padding: 2rem;
    width: fit-content;
    @media screen and (min-width: 1000px) {
        max-width: 90%;
    }
    margin: auto;
    animation-name: crawlIn;
    animation-duration: 1s;
}

.header {
    width: 90%;
    max-width: 100rem;
    @media screen and (min-width: 1000px) {
        padding: 2rem;
    }
    @media screen and (max-width: 800px) {
        padding: 1rem;
    }
    margin: auto;
    animation-name: fallIn;
    animation-duration: 1s;
}

.supporting-text {
    margin: auto !important;
    @media screen and (min-width: 1000px) {
        width: 60%;
    }
    @media screen and (max-width: 800px) {
        width: 90%;
    }
}

@keyframes crawlIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fallIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
