@import "../Themes.scss";

.img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    cursor: pointer;
}

.containers {
    padding: 2rem;
    width: fit-content;
    @include checkMobile(max-width, 95%, 90%);
    margin: auto;
    animation: slideInUp 1s;
}

.header {
    width: 85%;
    max-width: 100rem;
    @include checkMobile(padding, 1rem, 2rem);
    margin: auto;
    animation: slideInDown 1s;
}

.supporting-text {
    margin: auto !important;
    @include checkMobile(width, 90%, 60%);
}
