@import "../Themes/Themes.scss";

.img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    cursor: pointer;
    img {
        transition: box-shadow linear 250ms, transform linear 250ms !important;
        box-shadow: 0px 0px 10px $school-gold;
    }
    img:hover {
        box-shadow: -5px 5px 5px 2px $main-white;
        transform: translate(10px, -10px);
    }
}

.containers {
    padding: 2rem;
    width: fit-content;
    @include checkMobile(max-width, 95%, $global-max-width);
    margin: auto;
    animation: slideInUp 1s;
}

.header {
    width: 85%;
    max-width: 90rem;
    @include checkMobile(padding, 1rem, 2rem);
    margin: auto;
    animation: slideInDown 1s;
}

.supporting-text {
    margin: auto !important;
    @include checkMobile(width, 90%, 50vw);
}
