@import "./Themes/Themes.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: radial-gradient($school-gold, $school-green);
  background-color: #006932e6;
}

::-webkit-scrollbar {
	width: 0.5rem;
  background-color: $dark-color;
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: $school-gold;
}
