@import "./Themes.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient($school-gold, $school-green);
}

::-webkit-scrollbar {
	width: 5px;
  background-color: $dark-blue;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $school-gold;
}
